/* Media Queries */
@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 
	.page{margin:35px;}
  .footer-content{margin:35px; padding-top:20px;}
}
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	div.header-position-fixed {height: 100px;}
}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	.page{margin:0 185px;}
  .footer-content{margin:0 185px; padding-top:40px;}
	div.header-position-fixed {height:75px;}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* Type */
h1, h2, h3, h4, h5, h6 {
line-height: 1.4;
}
h1, h2, h3, h4, .alpha, .beta, .gamma, .delta {
font-family: "AG Bold",Helvetica,sans-serif;
color: #262523;
font-weight: bold;
}

h1, .alpha {
font-size: 2.125em;
}

h2, .beta {
font-size: 1.875em;
margin-top: 30px;
margin-bottom: 10px;
}

p, li, ul{
font-size: 1em;
letter-spacing: 0.09375em;
line-height: 1.75em;
margin-bottom: 5px;
}

ul, ol, dl {
margin-top:15px;
font-family: inherit;
line-height: 1.75em;
list-style-position: outside;
margin-bottom: 1.25em;
margin-left: 30px;
}

.content ul{
list-style-position: outside;
margin-left: 2em;
font-size: 0.9375rem;
}

a {
color: #4ce49b;
text-decoration: none;
line-height: inherit;
}

strong{
	font-weight: bold;
}

/* Layout */
.page{
	margin-top: 90px;
}
#header li {
display: inline-block;
}
#header ul, #header li {
margin: 0;
padding: 0;
list-style: none;
}
#header li a {
color: #ACACAC;
font-family: "Proxima Nova","AG Book",Helvetica,sans-serif;
font-size: 1em;
font-weight: bold;
transition: color 0.35s;
-webkit-transition: color 0.35s;
text-decoration: none;
margin-right: 25px;
}
.header-logo {
background-image: url(../images/upglobal-logo.png);
}
.header-logo {
display: block;
float: left;
width: 135px;
height: 45px;
margin-top:15px;
margin-right: 45px;
margin-left: 1.5625em;
background: url(../images/upglobal-logo.png) left center no-repeat;
background-size: contain;
}

div.header-position-fixed {position:fixed; top:0px; margin:auto; z-index:100000; width:100%;} 
div.header-position-fixed {background:#262523;}

img.impact-image {
	max-width: 600px;
	width: 100%;
}

.guidelines-rules li{font-size: 1.2em;}

#front-pic{
  margin-top:-15px; 
  max-width: 900px; 
  width:100%;
}


#topContent {
margin: 0 auto;
position: relative;
}
#topContent {
width: 960px;
height: 500px;
margin: 0 auto;
}
#pic {
margin-left: -370px;
background: url("../images/images.png") no-repeat -770px -370px;
bottom: -140px;
}
#pic {
position: absolute;
width: 587px;
height: 441px;
left: 50%;
display: block;
}
#grass {
width: 100%;
height: 50px;
position: absolute;
bottom: 0px;
left: 0px;
background: url("../images/images.png") repeat-x 0 0;
}

footer{
	min-height:300px;
	background: #33322f url("../images/footer-bg.png") center;
	color: #FFFFFF;
}
#footer {
	background: #33322f url("../images/footer-bg.png") center;
	color: #FFFFFF;
}
#footer .footer-content {
  margin-top:25px;
  padding: 4.6875em 0 4.0625em;
  padding-top: 40px;
}
footer h3{color:white; font-size:1.3em;}


/* `Contents
--------------------------------------------------------------------------------
 * `Footer sprites
 * `Programs sprites
 */

/* `Footer sprites
--------------------------------------------------------------------------------*/
.footer-sprite {
  background-image: url(../images/main/footer-sprites.png);
  background-size: 120px 20px;
  background-repeat: no-repeat;
  display: block;
  @media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background-image: url(../images/main/footer-sprites-retina.png);
  }
  &.facebook-logo {
    background-position: 0 0;
    height: 16px;
    width: 9px;
  }
  &.twitter-logo {
    background-position: -19px 0;
    height: 16px;
    width: 18px;
  }
  &.google-plus-logo {
    background-position: -45px 0;
    height: 16px;
    width: 16px;
  }
  &.icon.location {
    background-position: -70px 0;
    height: 18px;
    width: 13px;
  }
  &.icon.email {
    background-position: -93px 0;
    height: 12px;
    width: 19px;
  }
}

/* `Programs sprites
--------------------------------------------------------------------------------*/
.programs-sprite {
  background-image: url(../images/programs-sprites.png);
  background-size: 650px 110px;
  background-repeat: no-repeat;
  display: block;
  @media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background-image: url(../images/programs-sprites-retina.png);
  }
  &.startup-weekend-logo {
    background-position: 0 0;
    height: 50px;
    width: 118px;
  }
  &.startup-weekend-logo.focus {
    background-position: 0 -60px;
    height: 50px;
    width: 118px;
  }
  &.next-logo {
    background-position: -121px 0;
    height: 50px;
    width: 72px;
  }
  &.next-logo.focus {
    background-position: -121px -60px;
    height: 50px;
    width: 72px;
  }
  &.nyse-big-startups-logo {
    background-position: -205px 0;
    height: 50px;
    width: 113px;
  }
  &.nyse-big-startups-logo.focus {
    background-position: -205px -60px;
    height: 50px;
    width: 113px;
  }
  &.startup-digest-logo {
    background-position: -327px 0;
    height: 50px;
    width: 158px;
  }
  &.startup-digest-logo.focus {
    background-position: -327px -60px;
    height: 50px;
    width: 158px;
  }
  &.startup-america-logo {
    background-position: -497px 0;
    height: 50px;
    width: 129px;
  }
  &.startup-america-logo.focus {
    background-position: -497px -60px;
    height: 50px;
    width: 129px;
  }
  &.location-icon {
    background-position: -627px 0;
    height: 31px;
    width: 23px;
  }
  &.search-icon {
    background-position: -637px -38px;
    height: 15px;
    width: 13px;
  }
}
