<footer class="footer">
<div class="footer-content row">
<div class="small-6 large-2 columns link-list  hide-for-small">
<h5>Programs &amp; Events</h5>
<ul>
<li><a target="_blank" href="http://startupweekend.org/">Startup Weekend</a></li>
<li><a target="_blank" href="http://startupnext.co/">Startup Next</a></li>
<li><a target="_blank" href="https://www.startupdigest.com/">Startup Digest</a></li>
<li><a target="_blank" href="http://www.educationentrepreneurs.co/">Education Entrepreneurs</a></li>
<li><a target="_blank" href="http://startupweek.co">Startup Week</a></li>
</ul>
</div>
<div class="small-6 large-2 columns link-list  hide-for-small">
<h5>UP Global</h5>
<ul>
<li><a href="">Blog</a></li>
<li><a href="/about/our-community">Our Community</a></li>
<li><a href="/get-involved">Get Involved</a></li>
<li><a href="/get-involved/careers">Careers</a></li>
<li><a href="http://support.up.co" target="_blank">Support</a></li>
<li><a href="/privacy-policy">Privacy Policy</a></li>
</ul>
</div>
<div class="small-12 large-4 columns contact">
<div class="social-list">
<span class="label">
Connect
</span>
<ul class="inline-list">
<li>
<a class="footer-sprite facebook-logo" href="https://www.facebook.com/upglobal" rel="nofollow" target="_blank"></a>
</li>
<li>
<a class="footer-sprite twitter-logo" href="https://twitter.com/upglobalhq" rel="nofollow" target="_blank"></a>
</li>
<li>
<a class="footer-sprite google-plus-logo" href="https://plus.google.com/100516657500990554107/" rel="nofollow" target="_blank"></a>
</li>
</ul>
</div>
<div>
<p>
<span class="footer-sprite icon location"></span>
PO Box 95149, Seattle, WA 98145
</p>
</div>
<div>
<p>
<span class="footer-sprite icon email"></span>
<span class="footer-email">
info@up.co<script cf-hash="f9e31" type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script>
</span>
</p>
</div>
</div>
<div class="small-12 large-4 columns email-signup  hide-for-small">
<p>Sign up for <a href="http://startupdigest.com/" target="_blank">Startup Digest</a> and stay up to date with your local startup community:</p>
</div>
</div>

</footer>
