<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}">
	<link href="{{ "/css/reset.css" | prepend: site.baseurl }}" media="screen" rel="stylesheet" type="text/css">
	<link href="{{ "/css/styles.css" | prepend: site.baseurl }}" media="screen" rel="stylesheet" type="text/css">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


</head>
